.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: coral;
}

.red{
    background: red;
}
.blue{
    background: blue;
}
.green{
    background: green;
}